*{
    margin: 0px;
    padding: 0px;
}
body{
    
font-family: "Poppins", sans-serif;
}
.navbar
{
  background-color: #FD6569;
  padding: 10px;
}
.book-container
{
   padding: 15px;
   width:25%;
   background-color: black;
   border-radius: 8px;
   color: white;
   margin: 30px;
   display: inline-block;
   vertical-align: top;
}
.book-container h2
{
 color: #FD6569;
}
.book-container button
{
 background-color: #FD6569;
 color: black;
 border-radius: 5px;
 padding-right: 5px;
 padding-bottom: 5px;
 padding-left: 5px;
 padding-top: 5px;
 margin-top: 10px;
 border: none;
}
.add-button
{
    background-color: #FD6569;
    color: black;
    border-radius: 100px;
    padding-right: 30px;
 padding-bottom: 20px;
 padding-left: 30px;
 padding-top: 20px;
 font-size: 40px;
 border: none;
 position: fixed;
 bottom: 30px;
 right: 30px;
}
.popup-overlay
{
    background-color: black;
    opacity: 0.9;
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    z-index: 1;
    display: none;
}
.popup-box
{
    background-color: #FD6569;
    width: 40%;
    padding: 40px;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    left: 30%;
    z-index: 2;
    display: none;
}
.popup-box input
{
    background: transparent;
    color: black;
    border:none;
    width:100%;
    margin:5px;
    font-size: 20px;
    padding: 5px;
    border-bottom: solid black 2px;
}
.popup-box textarea
{
     background: transparent;
    border:none;
    width:100%;
    margin:5px;
    font-size: 20px;
    padding: 5px;
    border: solid black 2px;
}
.popup-box input::placeholder
{
    color: black;
}
.popup-box textarea::placeholder
{
    color: black;
}
.popup-box button
{
 background-color: black;
    color: white;
    border-radius: 100px;
    padding-right: 20px;
 padding-bottom: 10px;
 padding-left: 20px;
 padding-top: 10px;
 border: none;
margin: 5px;
}
.popup-box input::focus
{
outline:none;
}
.popup-box textarea::focus
{
outline:none;
}
